.form-control, .form-select{
	margin-bottom:20px;
}
.puntero{cursor: pointer;}
label>small{
	font-weight: bold;
	opacity: 0.8;
}
*, .table{
	--bs-table-hover-bg: rgba(114, 187, 80, 0.08) !important;
}